{% extends "_layouts/cp" %}

{% set title = pluginName %}

{% block sidebar %}
  <nav>
    <ul>
      {% nav page in craft.entries.section(guideSection).all() %}
        <li>
          <a{% if entry is not null and entry.id == page.id %} class="sel"{% endif %} href="{{url('guide/' ~ page.id)}}">{{ page.title }}</a>

          {% ifchildren %}
            <ul>
              {% children %}
            </ul>
          {% endifchildren %}
        </li>
      {% endnav %}
    </ul>
  </nav>
{% endblock %}

{% block content %}
  {% if entry.body is defined and entry.body %}
    <h1>{{ entry.title }}</h1>
    {{ entry.body }}
  {% endif %}
{% endblock %}

{% css %}
	.sidebar nav li ul {
  	display: block;
	}
{% endcss %}
